header {
    border: 2px solid powderblue;
    padding: 30px;
    
  }


  
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }



  #s1{
    background-image: url("pict1.jpeg");
    background-repeat: no-repeat;
    opacity: 0.4;
  }














  <?php
class Subdivision {
  protected $event_name;
  protected $timing;
  protected $date;
 
  function __construct($event_name, $date,$timing) {
    $this->event_name = $event_name;
    $this->date= $date;
     $this->timing = $timing;
  
       
  }
  function get_title() {
    return $this->event_name;
  }
  function get_due() {
    return $this->timing;
  }
  function get_description(){
    return $this->date;
  }

}
?>